$primary-color: rgb(104, 178, 177);
$secondary-color: rgba(80, 80, 80);
$link-color: $primary-color;
$text-color: rgb(90, 90, 90); // major text color
$text-color-secondary: rgb(90, 90, 90); // secondary text color
$border-color-base: $primary-color; // major border color
