@import '../../styles/less/antd-custom.less';

.overflow-hidden {
  overflow: hidden;
}

.project-explorer {
  min-height: 200%;
  width: 95%;
  margin: auto;
  margin-top: 15px;
  overflow-y: auto;
  scroll-behavior: smooth;

  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .breadcrumb {
      font-size: 1em;
      .icon {
        margin-right: 5px;
      }
    }
  }

  & > .content {
    width: 75%;
    margin: auto;

    & > .divider {
      margin-top: 2.5em;
      margin-bottom: 2em;
    }

    & > .title {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: auto;
      margin-top: 10px;
      text-align: center;

      div {
        font-size: 1.75em;
        font-weight: bolder;
        color: @primary-color;
        padding-bottom: 10px;
        .ant-avatar {
          margin-right: 15px;
        }
      }
    }

    & > .overview {
      .ant-descriptions-item-label,
      .ant-descriptions-item-content {
        padding: 0.5em 1em;
      }

      .ant-descriptions-item-label {
        font-weight: bolder;
        color: @secondary-color;
        .icon {
          color: @primary-color;
          margin-right: 5px;
        }
      }
    }

    & > .popularity {
      display: flex;
      justify-content: center;
      margin: 50px 0;
    }
  }
}
