section.default-layout {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
  overflow: hidden;

  & > .navigation-bar {
    max-width: 225px;
    min-width: 225px;
    z-index: 999;
  }

  & > .main-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow-y: auto;
    scroll-behavior: smooth;
  }
}
