section.default-layout {
  display: flex;
  flex-direction: row;
  width: 100%;
  min-height: 100%;

  & > .navigation-bar {
    min-width: 225px;
    max-width: 225px;
    width: 225px;
    position: absolute;
    top: 0;
    z-index: 999;
  }

  & > .main-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin-left: 225px;

    & > .main-container-content {
      flex-grow: 1;
    }
  }
}
