.default-layout {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 225px auto;
  grid-template-rows: auto;
  overflow-y: hidden;

  & > .main-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow-y: auto;
    scroll-behavior: smooth;

    & > .main-container-content {
      flex-grow: 1;
    }

    & > .main-container-footer {
      margin-top: 40px;
    }
  }
}

@media (max-width: 575.98px) {
  .default-layout {
    grid-template-columns: auto;
    grid-template-rows: 65px auto;

    & > .main-container {
      min-height: auto;
    }
  }
}
