.project-explorer {
  width: 95%;
  margin: auto;
  font-size: 0.9em;

  & > header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 15px;

    & > .breadcrumb {
      font-size: 0.9em;
      .icon {
        margin-right: 5px;
      }
    }
  }

  & > section {
    width: 80%;
    margin: auto;

    & > .divider {
      margin: 3em 0;
      font-size: 1.25em;
      color: var(--secondary-color);
      opacity: 80%;
    }

    & > .title {
      margin: auto;
      margin-top: 2em;
      text-align: center;
      margin-bottom: 3em;

      & > div {
        font-size: 1.75em;
        font-weight: bolder;
        color: var(--primary-color);
        padding-bottom: 10px;

        .avatar {
          margin-right: 15px;
        }
      }

      .description,
      .topics {
        display: block;

        a {
          color: var(--secondary-color);
          text-decoration: underline;
        }
      }

      .topics .topic {
        margin-top: 10px;
      }
    }

    & > .popularity {
      display: flex;
      justify-content: center;
      margin: 50px 0;
    }
  }
}

@media (max-width: 575.98px) {
  .project-explorer {
    & > header {
      display: none;
    }

    & > section {
      width: 100%;

      & > .divider {
        margin-top: 1.25em;
        margin-bottom: 1.25em;
        font-size: 1.5em;
      }

      & > .title {
        margin: auto;
        padding: 25px 0;
        font-size: small;

        .topics {
          margin-top: 10px;
          .topic {
            font-size: 0.75em;
            margin-top: 5px;
          }
        }
      }
    }
  }
}
