.badge {
  color: white;
  font-weight: bolder;
  font-size: 1.15em;
  background-color: #505050;
  padding: 5px 50px;
  transform: rotate(-45deg);
  z-index: 1;
  margin: -65px -75px;
  border: 1px solid white;
}

@media (max-width: 575.98px) {
  .badge {
    font-size: 1em;
    padding: 5px 50px;
    margin: -150px -110px;
  }
}
