@import '../styles/variables.scss';

.gittrends-love {
  width: 100%;
  height: 20px;
  line-height: 14px;
  font-size: 14px;
  text-align: center;

  & > span {
    .heart {
      color: $primary-color;
      margin: 0 5px;
    }

    a {
      padding-left: 5px;
    }
  }
}
