@import '../styles/variables.scss';

.index-page {
  width: 100%;

  & > header {
    padding: 5vh 0;
    text-align: center;
    font-size: 3em;
    color: $primary-color;
    font-weight: bolder;
  }

  & > section {
    text-align: center;
    font-size: 1.15em;

    & > span {
      display: block;
      margin: 25px;
      font-weight: bolder;
    }

    .search-box {
      width: 50%;
      margin: auto;
    }

    .project-samples {
      display: grid;
      grid-template-columns: repeat(4, auto);
      grid-template-rows: auto;
      justify-content: center;
      gap: 10px;
      width: 90%;
      margin: auto;
      padding: 50px;
    }

    .db-statistics {
      width: 90%;
      margin: auto;
      padding: 50px;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;

      .db-stats {
        .db-stats-number {
          display: flex;
          align-items: center;
          justify-content: center;

          .db-stats-icon {
            color: $primary-color;
            padding-right: 5px;
            font-size: 1.25em;
          }
        }
      }
    }
  }
}

@media (max-width: 575.98px) {
  .index-page {
    & > header {
      width: 95vw;
      margin: 3vh auto;
      padding: 0px;
      font-size: 2.75em;
    }

    & > section {
      font-size: 1.15em;

      & > span {
        margin: 15px;
      }

      .search-box {
        width: 90%;
      }

      .project-samples {
        grid-template-columns: repeat(2, 175px);
        grid-template-rows: auto;
        justify-content: center;
        gap: 5px;
        width: 95%;
        padding: 0px;
      }

      .db-statistics {
        padding: 25px;
        display: grid;
        grid-template-columns: repeat(4, auto);
        grid-template-rows: auto;
      }
    }
  }
}
