.index-page {
  width: 100%;

  & > header {
    padding: 5vh 0;
    text-align: center;
    font-size: 3em;
    color: var(--primary-color);
    font-weight: bolder;
  }

  & > section {
    text-align: center;

    & > span {
      display: block;
      margin: 40px 0;
      font-weight: bolder;
      font-size: 1.1em;
      color: var(--text-color-secondary);
    }

    .search-box {
      width: 50%;
      margin: auto;
    }

    .project-samples {
      display: grid;
      grid-template-columns: repeat(4, auto);
      grid-template-rows: auto;
      justify-content: center;
      gap: 10px;
      width: 90%;
      margin: auto;
    }

    .db-statistics {
      width: 90%;
      margin: auto;
      padding: 3em;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;

      .db-stats {
        .db-stats-number {
          display: flex;
          align-items: center;
          justify-content: center;

          .db-stats-icon {
            color: var(--primary-color);
            padding-right: 5px;
            font-size: 1.25em;
          }
        }
      }
    }
  }
}

@media (max-width: 575.98px) {
  .index-page {
    & > header {
      width: 95vw;
      margin: 4vh auto;
      padding: 0px;
      font-size: 2em;
    }

    & > section {
      font-size: 1em;

      & > span {
        margin: 25px 0;
      }

      .search-box {
        width: 90%;
      }

      .project-samples {
        grid-template-columns: repeat(2, auto);
        grid-template-rows: auto;
        justify-content: center;
        column-gap: 5px;
        row-gap: 20px;
        width: 95%;
        padding: 0px;
      }

      .db-statistics {
        font-size: 0.9em;
        display: grid;
        grid-template-columns: repeat(4, auto);
        grid-template-rows: auto;
        padding-bottom: 1em;

        .db-stats .db-stats-number {
          font-size: 1.5em;
          margin-right: 15px;

          .db-stats-icon {
            font-size: 1.15em;
          }
        }
      }
    }
  }
}
