.section-divider {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-weight: bolder;
  width: 100%;

  & > .line {
    max-width: 15%;
    height: 0.5em;
    border-bottom: 2px solid;
    flex-grow: 1;
  }

  & > .title {
    margin: 0 0.5em;
  }
}

@media (max-width: 575.98px) {
  .section-divider {
    & > .line {
      max-width: 25%;
      height: 0em;
    }

    & > .title {
      margin: auto 15px;
      padding: 0 0em;
    }
  }
}
