.popularity-section {
  .statistics {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 40px;

    .card {
      max-width: 225px;
      min-width: 225px;
      margin-right: 5px;
      border: 1px solid rgb(240, 240, 240);

      & > .header {
        padding: 10px 15px;
        border-bottom: 1px solid rgb(240, 240, 240);
        font-weight: bold;
      }

      & > .content {
        padding: 10px 15px;
        display: flex;

        & > .description {
          margin-left: 10px;

          & > * {
            display: block;
          }

          & > a,
          & > span:first-child {
            font-weight: bold;
            margin-bottom: 3px;
          }

          .icon {
            color: var(--primary-color);
          }
        }
      }
    }

    .card:last-child {
      margin-right: 0px;
    }
  }

  .plot-area {
    display: flex;
    flex-direction: column;
    align-items: center;

    .rv-crosshair,
    .rv-hint {
      pointer-events: auto;
    }

    .hint {
      .tooltip {
        display: none;
        color: white;
        background-color: var(--primary-color);
        font-weight: bolder;
        cursor: pointer;
        padding: 5px 10px;
        transform-origin: 0 0;
        transform: rotate(-45deg);
      }

      &:hover {
        .tooltip {
          position: absolute;
          top: 0;
          display: initial;
          z-index: 1;
        }
      }
    }

    .controls {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 10px 0;

      .control {
        display: flex;
        justify-content: center;
        align-items: center;

        span.label {
          color: var(--primary-color);
          font-weight: bolder;
          padding-right: 5px;
        }
      }

      .control:not(last-child) {
        padding-right: 10px;
      }
    }
  }
}

@media (max-width: 575.98px) {
  .popularity-section {
    .statistics {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: auto;
      gap: 10px;

      .card {
        margin-right: 0px;
        min-width: auto;
      }
    }

    .plot-area {
      .controls {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;

        .control {
          margin-bottom: 10px;
          .select {
            width: 100px;
          }
        }
      }
    }
  }
}
